.about-container {

	.breadcrumb {
		@include breadcrumb();

		.fa-long-arrow-left {
			vertical-align: middle;
		}
	}

	.breadcrumb:hover {
		@media (hover: hover) {
			color: $white;
		background-color: $blue;
		}
	}

	.about {
		padding: 0 1em;
		margin: 0.6em auto 0;
		width: 90%;
		max-width: 700px;

		p {
			line-height: 1.4em;
			font-size: 17px;
		}
	}
}