.about {
	padding: 0 1em;
	margin: 0.6em auto 0;
	width: 90%;
	max-width: 700px;

	.breadcrumb {
		@include breadcrumb(0);

		.fa-long-arrow-left {
			vertical-align: middle;
		}
	}

	.breadcrumb:hover {
		color: $white;
		background-color: $blue;
	}

	p {
		line-height: 1.4em;
	}
}