.footer {
	display: flex;
	flex-direction: column;
	padding: 1em 0;

	@media (min-width: 600px) {
		flex-direction: row;
		justify-content: space-around;
	}

	.social-links {
		display: flex;
		justify-content: space-around;
		margin-bottom: 1em;

		@media (min-width: 600px) {
			margin: 0;
			flex-basis: 50%
		}


		.footer-link-social {
			@media (min-width: 760px) {
				padding: 0.4em;
				border-radius: 5px;
				transition: all 0.3s ease;
			}
		}

		.footer-link-social:hover {
			@media (hover: hover) {
				background-color: $blue;
				color: $white;
			}
		}

		a {
			color: $blue;
		}
	}

	.footer-contact {
		align-self: center;
	
		a {
			text-decoration: none;
			color: $blue;

			@media (min-width: 760px) {
				padding:  0.4em;
				border-radius: 5px;
				transition: all 0.3s ease;
				margin-left: 2em;
			}
		}

		a:hover {
			@media (hover: hover) {
				background-color: $blue;
				color: $white;
			}
		}
	}
}