@mixin burger-style () {
	cursor: pointer;
	float: right;
}

@mixin dropdown-section () {
	float: right;
	clear: right;
	margin-right: 0.6em;
}

@mixin dropdown-link () {
	text-decoration: none;
	float: right;
	clear: right;
	display: inline-block;
	margin-bottom: 1em;
	color: $blue;
}

@mixin breadcrumb () {
	text-decoration: none;
	color: $blue;
	margin-left: 2em;
	background-color: $white;
	padding: 0 10px;
	border-radius: 0.4em;
	transition: all 0.3s ease;
	display: inline-block;
}