@mixin burger-style () {
	cursor: pointer;
	float: right;
}

@mixin dropdown-section () {
	float: right;
	clear: right;
	margin-right: 0.6em;
}

@mixin dropdown-link () {
	text-decoration: none;
	float: right;
	clear: right;
	display: inline-block;
	margin-bottom: 1em;
	color: $blue;
}

@mixin breadcrumb ($marginleft) {
	text-decoration: none;
	color: $white;
	margin-left: $marginleft;
	background-color: $red;
	padding: 0.4em 0.7em 0.5em 0.5em;
	border-radius: 0.4em;
	transition: all 0.3s ease 0;
}