.portfolio {

	.portfolio-title {
		text-align: center;
	}

	.portfolio-bio {
		overflow: hidden;

		@media (min-width: 480px) {
			display: flex;
			flex-direction: row;
			padding: 1em;
			max-width: 600px;
			margin: 0 auto;
		}

		.bio-pic {
			display: none;

			@media (min-width: 480px) {
				display: block;
				float: left;
				width: 40%;
				height: 100%;
				// border-radius: 1em;
				max-width: 10em;
				border-radius: 5px;
			}
		}

		.bio-blurb {
			text-align: center;
			line-height: 1.25em;
			padding: 0 1em;
			margin: 0;
			line-height: 1.4;

			@media (min-width: 480px) {
				float: right;
				text-align: left;
				padding-right: 0;
			}
		}
	}

	.projects-grid {
		max-width: 900px;
		margin: 0 auto;

		@media (min-width: 480px) {
			display: grid;
			flex-flow: row wrap;
			justify-content: space-between;
			align-content: flex-start;
			grid-template-columns: repeat(auto-fill, 50%);
		}

		@media (min-width: 760px) {
			grid-template-columns: repeat(auto-fill, 33%);
		}

		.project-thumb {
			width: 90%;
			margin: 1em auto;
			text-decoration: none;
			display: block;
			// border-radius: 1em;
			// background-color: $charcoal;
			padding-bottom: 0.1em;

			@media (min-width: 760px) {
				transition: all .2s ease-in-out;
			}

			.project-thumb-image-div {
				box-shadow: 0 0 10px rgba(0,0,0, 0.5);
				transition: box-shadow 0.3s ease-in-out;
				img {
					width: 100%;
					// border-radius: 0.9em 0.9em 0 0;
					display: block;

				}
			}

			.project-thumb-image-div:hover {
				@media (min-width: 760px) {
					box-shadow: 0 5px 15px rgba(0,0,0, 0.5);
				}
			}

			.project-thumb-tech-div {
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				margin-top: 0.7em;

				.project-thumb-tech-item {
					color: $black;
					// font-size: 0.8em;
					font-style: italic;
					// font-weight: bold;
				}
			}

			.project-thumb-name-div {

				p {
					text-align: center;
					background-color: $white;
					color: $black;
					// padding: 0.7em;
					// margin-left: 2em;
					// margin-right: 2em;
					// border-radius: 0.4em;
					font-weight: bold;
					font-size: 1.5em;
					margin: 0.4em 0 1.5em;

					@media (min-width: 480px) {
						// font-size: 0.8em;
					}

					@media (min-width: 490px) {
						// font-size: 0.9em;
					}

					@media (min-width: 543px) {
						// font-size: 1em;
					}

					@media (min-width: 760px) {
						font-size: 1.3em;
					}

					@media (min-width: 822px) {
						font-size: 1.5em;
					}
				}
			}
		}
	}
}