.project-page {

	.breadcrumb {
		@include breadcrumb();

		.fa-long-arrow-left {
			vertical-align: middle;
		}
	}

	.breadcrumb:hover {
		color: $white;
		background-color: $blue;
	}

	.project-name {
		text-align: center;
		font-size: 1.8em;
	}

	.project-image {
		width: 90%;
		margin: 4em auto;
		display: block;
		max-width: 300px;
		box-shadow: 0 0 10px rgba(0,0,0, 0.5);
	}

	.project-blurb {
		padding: 0 1em;
		max-width: 600px;
		margin: 0 auto 2em;
		line-height: 1.4;
	}

	.project-link {
		display: block;
		text-align: center;
		text-decoration: none;
		color: $blue;
		width: 80%;
		margin: 0.5em auto 0;
		max-width: 300px;
		transition: all 0.3s ease;
		padding: 0.4em;
		border-radius: 5px;

	}

	.project-link:hover {
		background-color: $blue;
		color: $white;
	}

	.project-tech {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
		max-width: 400px;
		margin: 2em auto;

		.project-tech-item {
			background-color: $black;
			color: $white;
			padding: 0.3em;
			border-radius: 0.3em;
			text-align: center;
			margin: 0.3em 0.2em;	
		}
	}
}