.project-page {
	margin-top: 0.6em;

	.breadcrumb {
		@include breadcrumb(0.7em);
		// transition: all 0.3s ease;
		// transition: all 0.3s ease;
		// display: inline-block;

		.fa-long-arrow-left {
			vertical-align: middle;
		}
	}

	.breadcrumb:hover {
		color: $white;
		background-color: $blue;
		// background-color: $black;
		// transform: scale(1.1);
	}

	.project-name {
		margin-top: 1em;
		text-align: center;
		font-size: 1.8em;
	}

	.project-image {
		width: 90%;
		margin: 4em auto;
		display: block;
		max-width: 300px;
		// border-radius: 1em;
		box-shadow: 0 0 10px rgba(0,0,0, 0.5);
	}

	.project-blurb {
		padding-left: 1em;
		max-width: 80%;
		margin: 0 auto 2em;
		// text-align: center;
		line-height: 1.4;
	}

	.project-link {
		display: block;
		text-align: center;
		text-decoration: none;
		margin: 0.7em;
		// background-color: $black;
		color: $blue;
		// padding: 0.6em;
		width: 80%;
		margin: 0.5em auto 0;
		// border-radius: 0.3em;
		// transition: all 0.3s ease 0;
		max-width: 300px;
	}

	.project-link:hover {
		// opacity: 0.5;
		// color: $blue;
	}

	.project-tech {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
		max-width: 400px;
		margin: 2em auto;

		.project-tech-item {
			background-color: $black;
			color: $white;
			padding: 0.3em;
			border-radius: 0.3em;
			// width: 4.5em;
			text-align: center;
			margin: 0.3em 0.2em;	
		}
	}
}