$header-back: #1B1B1E;
$header-font: #ADD9F4;
$footer-back: #1B1B1E;
$footer-font: #ADD9F4;
$thumb-tech-back: #1B1B1E;
$thumb-tech-font: #FFF;
$breadcrumb-back: #984447;
$breadcrumb-font: #FFF;
$thumb-title-back: #984447;
$thumb-title-font: #FFF;