@import 'variables';
@import 'helpers';

* {
	font-family: sans-serif;
}

.nav {
	overflow: hidden;
	background-color: $header-back;
	color: $header-font;

	.nav-img {
		height: 3em;
		border-radius: 0.3em;
		margin: 0.6em;
		display: block;
		float: left;
	}

	.menu-mobile {
		@include burger-style();
		margin: 0.2em;
	}

	.nav-mobile {
		display: none;
		

		.nav-mobile-1 {
			@include dropdown-section()

			a {
				@include dropdown-link()
			}
		}

		.nav-mobile-2 {
			@include dropdown-section()

			a {
				@include dropdown-link()
			}
		}

		.nav-mobile-3 {
			@include dropdown-section();
			padding-bottom: 1em;
			margin-top: 0.2em;

			a {
				margin-left: 1.3em;
				color: $header-font;
			}
		}
	}

	.nav-tablet {
		display: none;

		.nav-tablet-1 {
			float: left;
			line-height: 4.2em;

			a {
				text-decoration: none;
				margin: 0 1em;
				// font-weight: bold;
				color: $header-font;
				transition: all 0.3s ease 0s;
				padding: 0.4em;
				border-radius: 0.3em;
			}

			a:hover {
				background-color: $header-font;
				color: $header-back;
			}
		}

		.menu-tablet {
			@include burger-style();
			margin: 0.2em;
		}

		.nav-tablet-dropdown {
			display: none;

			.nav-tablet-2 {
				@include dropdown-section()

				a {
					@include dropdown-link()
				}
			}

			.nav-tablet-3 {
				@include dropdown-section();
				padding-bottom: 1em;

				a {
					margin-left: 1.3em;
					color: $header-font;
				}
			}
		}
	}

	.nav-desktop {
		display: none;

		.nav-desktop-1, .nav-desktop-2, .nav-desktop-3 {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			flex-wrap: nowrap;

			a {
				margin: 1em;
				text-decoration: none;
				color: $header-font;
			}
		}

		.nav-desktop-1 {

			a {
				// margin: 1em;
			}
		}

		.nav-desktop-2 {

			a {
				// margin: 1em;
			}
		}

		.nav-desktop-3 {

			a {
				// margin: 1em;
			}
		}
	}
}

.portfolio {

	.portfolio-title {
		text-align: center;

		h2 {

		}

		h3 {

		}
	}

	.portfolio-bio {
		overflow: hidden;

		.bio-pic {
			display: none;
		}

		.bio-blurb {
			text-align: center;
			line-height: 1.25em;
			padding: 0 1em;
			margin: 0;
		}
	}

	.projects-grid {
		// display: flex;
		// flex-direction: column;
		// justify-content: space-around;
		max-width: 900px;
		margin: 0 auto;

		.project-thumb {
			border: 1px solid #000;
			width: 90%;
			margin: 1em auto;
			text-decoration: none;
			display: block;
			border-radius: 1em;

			.project-thumb-image-div {

				img {
					width: 100%;
					border-radius: 1em 1em 0 0;
				}
			}

			.project-thumb-tech-div {
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				margin-top: 1em;

				.project-thumb-tech-item {
					background-color: $thumb-tech-back;
					color: $thumb-tech-font;
					padding: 0.5em 0.7em;
					border-radius: 0.4em;
					width: 21%;
					text-align: center;
					font-size: 0.8em;
				}
			}

			.project-thumb-name-div {

				p {
					text-align: center;
					background-color: $thumb-title-back;
					color: $thumb-title-font;
					padding: 0.7em;
					margin-left: 2em;
					margin-right: 2em;
					border-radius: 0.4em;
				}
			}
		}
	}
}

.project-page {
	margin-top: 0.6em;

	.breadcrumb {
		text-decoration: none;
		color: $breadcrumb-font;
		margin-left: 0.7em;
		background-color: $breadcrumb-back;
		padding: 0.3em 0.7em 0.3em 0.5em;
		border-radius: 0.4em;
		transition: all 0.3s ease 0;

		.fa-long-arrow-left {
			vertical-align: middle;
		}
	}

	.breadcrumb:hover {
		background-color: $project-link-back;
	}

	.project-name {
		margin-top: 1em;
		text-align: center;
		font-size: 1.8em;
	}

	.project-image {
		width: 90%;
		margin: 1em auto;
		display: block;
		border: 1px solid #000;
		max-width: 300px;
	}

	.project-blurb {
		padding-left: 1em;
		max-width: 80%;
		margin: 0 auto;
	}

	.project-link {
		display: block;
		text-align: center;
		text-decoration: none;
		margin: 0.7em;
		background-color: $project-link-back;
		color: $project-link-font;
		padding: 0.6em;
		width: 35%;
		margin: 0.5em auto 0;
		border-radius: 0.3em;
		transition: all 0.3s ease 0;
	}

	.project-link:hover {
		opacity: 0.5;
	}

	.project-tech {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		max-width: 500px;
		margin: 0 auto;

		.project-tech-item {
			background-color: $project-tech-back;
			color: $project-tech-font;
			padding: 0.6em;
			border-radius: 0.3em;
			width: 5em;
			text-align: center;
		}
	}
}



.footer {
	text-align: center;
	margin-top: 1em;
	padding: 1em 0 0;
	background-color: $footer-back;
	overflow: hidden;

	.social-links {
		margin-bottom: 1em;

		a {
			margin: 0 0.5em;
			color: $footer-font;
		}
	}

	.footer-contact {
		margin-bottom: 1em;

		a {
			text-decoration: none;
			display: block;
			margin-bottom: 1em;
			color: $footer-font;
		}

		.copyright {
			margin: 0;
			color: #FFF;
		}
	}
}



// Adjust breakpoints later when styling done
@media (min-width: 480px) {
	.nav {

		.nav-img {
			display: none;
		}

		.menu-mobile {
			display: none;
		}

		.nav-tablet {
			display: block;
		}
	}

	.portfolio {

		.portfolio-bio {
			display: flex;
			flex-direction: row;
			padding: 1em;

			.bio-pic {
				display: block;
				float: left;
				width: 40%;
				height: 100%;
				margin-right: 1em;
				border-radius: 1em;
			}

			.bio-blurb {
				float: right;
				text-align: left;
			}
		}

		.projects-grid {
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-start;

			.project-thumb {
				width: 45%;
			}
		}
	}

	.footer {
		display: flex;
		flex-direction: row;
		padding: 1em 2em 0;

		.social-links {
			width: 35%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: wrap;
			margin: 0 4em 0 2em;
			padding-bottom: 0.5em;

			.footer-link-social {
				width: 27%;
				margin-bottom: 0.5em;
			}
		}
		.footer-contact {
			width: 53%;
			margin-top: 0.5em;

			a {
				
			}

			.copyright {

			}
		}
	}
}

@media (min-width: 760px) {
	.nav {

		.nav-tablet {
			display: none;
		}

		.nav-desktop {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			flex-wrap: wrap;

			.nav-desktop-1, .nav-desktop-2, .nav-desktop-3 {

				a {
					transition: all 0.3s ease 0s;
					padding: 0.4em;
					border-radius: 0.3em;
				}

				a:hover {
					background-color: $header-font;
					color: $header-back;
				}
			}
		}
	}

	.portfolio {

		.projects-grid {

			.project-thumb {
				width: 30%;
				transition: all .2s ease-in-out;
			}

			.project-thumb:hover {
				transform: scale(1.1);
			}
		}
	}

	.footer {
		padding: 1em 2em;

		.social-links {
			width: 65%;
			padding-bottom: 0;

			.footer-link-social {
				width: 15%;
				margin: auto;
				transition: all 0.3s ease 0s;
				padding: 0.4em;
				border-radius: 0.3em;
			}

			.footer-link-social:hover {
				background-color: $footer-font;
				color: $footer-back;
			}
		}

		.footer-contact {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			margin: 0 3em 0 0;

			a {
				margin: auto;
				padding: 0.7em;
				border-radius: 0.3em;
				transition: all 0.3s ease 0;
			}

			a:hover {
				background-color: $footer-font;
				color: $footer-back;
			}

			.copyright {
				margin: auto;
			}
		}
	}
}





















