@import 'variables';
@import 'helpers';

* {
	font-family: sans-serif;
}

.nav {
	overflow: hidden;
	background-color: #ddd;

	.nav-img {
		height: 3em;
		border-radius: 0.3em;
		margin: 0.6em;
		display: block;
		float: left;
	}

	.menu-mobile {
		@include burger-style();
		margin: 0.2em;
	}

	.nav-mobile {
		display: none;
		

		.nav-mobile-1 {
			@include dropdown-section()

			a {
				@include dropdown-link()
			}
		}

		.nav-mobile-2 {
			@include dropdown-section()

			a {
				@include dropdown-link()
			}
		}

		.nav-mobile-3 {
			@include dropdown-section();
			padding-bottom: 1em;

			a {
				margin-left: 1.3em;
			}
		}
	}

	.nav-tablet {
		display: none;

		.nav-tablet-1 {
			float: left;
			line-height: 4.2em;

			a {
				text-decoration: none;
				margin: 0 1em;
			}
		}

		.menu-tablet {
			@include burger-style();
			margin: 0.2em;
		}

		.nav-tablet-dropdown {
			display: none;

			.nav-tablet-2 {
				@include dropdown-section()

				a {
					@include dropdown-link()
				}
			}

			.nav-tablet-3 {
				@include dropdown-section();
				padding-bottom: 1em;

				a {
					margin-left: 1.3em;
				}
			}
		}
	}

	.nav-desktop {
		display: none;

		.nav-desktop-1, .nav-desktop-2, .nav-desktop-3 {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			flex-wrap: nowrap;

			a {
				margin: 1em;
				text-decoration: none;
			}
		}

		.nav-desktop-1 {

			a {
				// margin: 1em;
			}
		}

		.nav-desktop-2 {

			a {
				// margin: 1em;
			}
		}

		.nav-desktop-3 {

			a {
				// margin: 1em;
			}
		}
	}
}

.portfolio {

	.portfolio-title {
		text-align: center;

		h2 {

		}

		h3 {

		}
	}

	.portfolio-bio {

		img {
			width: 50%;
			display: none;
		}

		p {
			text-align: center;
		}
	}

	.projects-grid {
		// display: flex;
		// flex-direction: column;
		// justify-content: space-around;
		max-width: 900px;
		margin: 0 auto;

		.project-thumb {
			border: 1px solid #000;
			width: 90%;
			margin: 1em auto;
			text-decoration: none;
			display: block;

			.project-thumb-image-div {

				img {
					width: 100%;
				}
			}

			.project-thumb-tech-div {
				display: flex;
				flex-direction: row;
				justify-content: space-around;

				.project-thumb-tech-item {

				}
			}

			.project-thumb-name-div {

				p {
					text-align: center;
				}
			}
		}

		.dummy-project {
			height: 0;
			border: none;
		}
	}
	
}

.footer {
	text-align: center;
	margin-top: 1em;
	padding: 1em;
	background-color: #ddd;

	.social-links {
		margin-bottom: 1em;

		a {
			margin: 0 0.5em;
		}
	}

	.footer-contact {
		margin-bottom: 1em;

		a {
			text-decoration: none;
			display: block;
			margin-bottom: 1em;
		}
	}

	.copyright {
		margin: 0;
	}
}



// Adjust breakpoints later when styling done
@media (min-width: 480px) {
	.nav {

		.nav-img {
			display: none;
		}

		.menu-mobile {
			display: none;
		}

		.nav-tablet {
			display: block;
		}
	}

	.portfolio {

		.portfolio-bio {

			img {
				display: block;
			}
		}

		.projects-grid {
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-start;

			.project-thumb {
				width: 45%;
			}
		}
	}
}

@media (min-width: 760px) {
	.nav {

		.nav-tablet {
			display: none;
		}

		.nav-desktop {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			flex-wrap: wrap;
		}
	}

	.portfolio {

		.projects-grid {

			.project-thumb {
				width: 30%;
			}
		}
	}
}





















